.footer {
  margin-top: 25px;
  color: #aaa;
  text-align: center;
  span {
    color: #222;
    text-transform: uppercase;
    font-family: "Pacifico";
    text-decoration: underline;
  }
}
